.backline-1 {
  position: absolute;
  /* z-index: 10; */
  top: 0;
  left: 0;

  width: 100%;
  height: fit-content;

  opacity: 0.3;
}

.svg-line path {
  stroke-dasharray: var(--dash-array);
  animation: draw 1.5s ease-in forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 100;

    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;

    opacity: 1;
  }
}

.backline-2 {
  overflow-y: clip;

  position: absolute;
  /* z-index: 10; */
  top: var(--top-backline-1);
  left: 0;

  width: 100%;
  height: calc(100% - var(--top-backline-1));

  opacity: 0.3;
}
