.cont_common-ideate {
  position: relative;

  padding-block: 5rem;

  width: 100%;
  height: 150vh;
  background-color: var(--light);
}

.common-ideate {
  position: sticky;
  top: 40px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-inline: auto;

  width: 75%;
}

.ideate_text {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;

  width: 62.5%;
}

.common-ideate .sub-heading {
  padding: 0.25rem 0.75rem;

  font-size: 24px;
  color: var(--dark);

  border-left: 4px solid var(--accent);
}

.common-ideate h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--dark);
}

.common-ideate p {
  font-size: 20px;
  font-weight: 300;
  color: var(--paragraph);
}

.lottie_icon {
  width: 180px;
}

.cont_video-ideate {
  overflow: clip;

  width: 100%;
  height: fit-content;

  border-radius: 1rem;
  box-shadow: 0px 8px 20px 2px #e01f763a;
}

.cont_common-ideate .video-ideate {
  width: 100%;
  height: auto;
}
